*{
	margin:0;
	padding:0;
}
body{
	background: url("wallpaper.jpg");
	background-attachment: fixed;
	background-position:center;
	background-size:cover;
}

.login{
	width: 50%;
	top: 12%;
	height: 88%;
	position:absolute;
}

.form-box{
	padding: 25px;
	width: 25%;
	left: 58%;
	top: 22%;
	height: 60%;
	Position: absolute;
	overflow:hidden;
	border-radius: 20px;
}
.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;	
	border: 10px;
	box-shadow: 0 0 2px 2px #00ffff;
}
.both-btn {
	padding: 10px 30px;
	cursor: pointer;
	background:transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 110px;
	border-radius: 20px;
	background: #00FFFF;
	transition: 0.5s;
}

.input-group {
	top: 120px;
	position:absolute;
	width: 280px;
	transition: 0.5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin:5px 0;
	border-top: 0;
	border-left:0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-button {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #00FFFF;
	border-radius: 20px;
	border: 0;
	outline: 0;
}

#login{
	left: 50px;
}
#register{
	left: 450px;
}


nav{
	width: 100%;
	height: 80px;
	line-height:80px;
	position:fixed;
	background-color:rgba(0,0,0);
}

nav .title{
	font-size:30px;
	font-weight:bold;
	letter-spacing:1.5px;
}

nav .title p{
	padding-left:100px;	
	float:left;
	color:#fff;		
}

nav ul{
	float:right;
}

nav ul li{
	display:inline-block;
	list-style:none;
	padding-right:40px;
}
nav ul li a{
	text-decoration:none;
	color:#fff;
	font-size:20px;
	padding:5px 5px;
}
nav ul li a:hover{
	background: #00ffff;
	border-radius:10px;
	color:#000;
}
nav ul ul{
	position:absolute;
	top:80px;
	display:none;
}
nav ul li:hover > ul{
	display:block;
	background:rgba(0,0,0);
}
nav ul li ul{
	width:70px;
	text-align:center;
}
#about{
	padding-top: 80px;
	height:60%;
	transition: 0.5s;
}

#gotochatbot{
	padding-top: 80px;
	height:60%;
	transition: 0.5s;
}

#contactus{
	padding-top: 80px;
	height:60%;
	transition: 0.5s;
}

.faq{
	padding-top:80px;
	height:50%;
	transition:0.5s;
	text-align:center;
	font-size:20px;
}

.abouttxt{
	float:left;
	width:50%;		
	height:100%;
	text-align:center;	
}
.aboutpic{
	float:right;
	width:50%;
	height:100%;
}
.chatbotpic{
	float:left;
	width:50%;		
	height:100%;
}
.chatbottxt{
	float:right;
	width:50%;
	height:100%;
	text-align:center;
}
.contacttxt{
	float:left;	
	height:100%;
	width:50%;
	text-align:center;
}
.contactpic{
	float:right;
	width:50%;
	height:100%;
}
img{
	width:100%;
	height:100%;	
}

.gotochatbotbtn {
	width: 50%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;	
	background: #00FFFF;
	border-radius: 20px;
	border: 0;
	outline: 0;
	margin:auto;
}
.click{
	font-weight:bold;
	color:red;
	font-size:20px;
}
.txtchattxt{
	font-size:18px;
	font-weight:bold;
}

.profile{
	width:30%;
	position:absolute;
	left:35%;
	top:15%;
	border:5px solid black;
	border-radius:20px;	
}

.profile h1{
	width:100%;
	height:50px;
	background:#000000;
	text-align:center;
	color:#fff;
}
.profile p{
	padding-left:20px;
}

.abouttxt p{
	font-size:20px;
}

.abouttxt p.welcome{
	font-size:30px;
	font-weight:bold;
}

.contacttxt p{
	font-size:20px;
}
.contacttxt p.heads{
	font-weight:bold;
	font-size:30px;
}